body{
    background-image: url('https://images.unsplash.com/photo-1504608524841-42fe6f032b4b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=465&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

#container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: linear-gradient(rgba(233, 200, 200, 0.3), rgba(0, 0, 0, 0.6));
    min-height: 100vh;
}

#header{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#input{
    background-color: rgba(241, 241, 241, 0.432);
    border-radius: 20px;
    border: 3px solid #CDF3A2;
    padding: 15px;
    font-size: 20px;
}

#input:focus{
    background-color: #ffffff;
}

#when-where{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#city{
    color: #ffffff;
    font-size: 45px;
}

#date{
    color: #ffffff;
    font-size: 24px;
}

#now{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#temperature{
    color: #ffffff;
    font-size: 110px;
    font-weight: bold;
    text-shadow: 5px 10px black;
    margin: 0;
}

#feelsLike{
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
}

#conditions{
    font-size: 32px;
    color: #ffffff;
    font-weight: bold;
    font-style: italic;
}

#variation{
    font-size: 26px;
    color: #ffffff;
    font-weight: bold;
}
@media all and (max-width: 800px) {
    #input{
        background-color: rgba(241, 241, 241, 0.916);}
}